
simulations/

notes.txt

latex_help.txt

# Ignore GIF images
*.gif

# Ignore pickle files
*.pkl

# Conda & venvs
.conda/
.venv/

# Python caches
__pycache__/
*.pyc

# Notebook checkpoints
.ipynb_checkpoints/